.messenger-container {
  height: calc(100vh - 70px);
  display: flex;
}
.chat-menu {
  flex: 3.5;
}
.chat-menu-input {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;
}
.chat-box {
  flex: 5.5;
}
.chat-online {
  flex: 3;
}
.chat-menu-wrapper {
  padding: 10px;
  height: 100%;
}
.chat-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  height: 100%;
}
.chat-box-top {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}
.chat-box-bottom {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.chat-online-wrapper {
  padding: 10px;
  height: 100%;
}
.no-conversation-text {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(244, 220, 220);
  cursor: default;
}
@media screen and (max-width: 768px) {
  .chat-menu {
    flex: 1;
  }
  .chat-menu-input {
    display: none;
  }
  .chat-box {
    flex: 10;
  }
  .chat-online {
    flex: 1;
  }
}